In [1]:
import pandas as pd

In [2]:
# 1) Compare two panda series
serie_one = pd.Series([4,65,436,3,9])
serie_two = pd.Series([7,0,3,897,9])

serie_one.equals(serie_two) #Or

if(serie_one.items()==serie_two.items()):
    print(True)
else:
    print(False)

False

In [3]:
# 2) Add, subtract, multiply and divide
sample_one = [2,4,6,8,14]
sample_two = [1,3,5,7,9]

serie_one = pd.Series(sample_one)
serie_two = pd.Series(sample_two)

#Addition
print("#Addition")
addition_res = serie_one.add(serie_two)
addition_res = serie_one+serie_two
print(addition_res)

#Subtraction
print("#Subtraction")
subtraction_res = serie_one.subtract(serie_two)
subtraction_res = serie_one.sub(serie_two)
subtraction_res = serie_one-serie_two
print(subtraction_res)

#Multiplication
print("#Multiplication")
multiplication_res = serie_one.multiply(serie_two)
multiplication_res = serie_one.mul(serie_two)
multiplication_res = serie_one*serie_two
print(multiplication_res)

#Division
print("#Division")
division_res = serie_one.divide(serie_two)
division_res = serie_one.div(serie_two)
division_res = serie_one/serie_two
print(division_res)

#Addition
0     3
1     7
2    11
3    15
4    23
dtype: int64
#Subtraction
0    1
1    1
2    1
3    1
4    5
dtype: int64
#Multiplication
0      2
1     12
2     30
3     56
4    126
dtype: int64
#Division
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [4]:
# 3) converting a dictionary to a Pandas series. 
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
dictionary1_serie = pd.Series(dictionary1)
print(type(dictionary1_serie))

<class 'pandas.core.series.Series'>

In [5]:
# 4) Converting a given series to an array
import numpy as np

sample_series = ['Love', 800, 'Joy', 789.9, 'Peace', True]

array = np.array(sample_series)
print(type(array))

<class 'numpy.ndarray'>

In [6]:
# 5) display the most frequent value in the given series and replace everything else as ‘Other’ in the series. 

import pandas as pd

data_set = pd.read_csv('data/AfricaCupofNationsMatches.csv')
data_set_serie = pd.Series(data_set['HomeTeamGoals'])
most_frequent_team_goals_value = data_set_serie.mode()
print(most_frequent_team_goals_value)

data_set_serie.loc[data_set_serie != most_frequent_team_goals_value[0]] = 'Other'
print(data_set_serie.mode())

# data_set_serie = data_set_serie.apply(lambda x: x if x == most_frequent_team_goals_value else 'Other')

0    1.0
Name: HomeTeamGoals, dtype: float64
0    Other
Name: HomeTeamGoals, dtype: object

/tmp/ipykernel_4793/3334704528.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data_set_serie.loc[data_set_serie != most_frequent_team_goals_value[0]] = 'Other'